In [6]:
import numpy as np
# 设置随机种子
np.random.seed(12345)
# 输出的结果精度为4，需要以科学计数法的形式输出
np.set_printoptions(precision=4,suppress=True)

In [9]:
import numpy as np
# 创建一个列表，包含7个随机数
data = [np.random.standard_normal() for i in range(7)]
data

[0.2817461528302025,
 0.7690225676118387,
 1.2464347363862822,
 1.0071893575830049,
 -1.2962211091122635,
 0.274991633432124,
 0.22891287893531592]

In [11]:
a = [1,2,3]

In [12]:
b = a
b

[1, 2, 3]

In [15]:
def append_element(some_list,element):
    """
    Append element to the end of the list
    :param some_list: list
    :param element: element to be appended
    :return: None
    """
    some_list.append(element)

In [19]:
data = [1,2,3]
append_element(data,4)
data  # [1,2,3,4]

[1, 2, 3, 4]

In [23]:
a = 5
type(a)  # int

a = 'foo'
type(a)  # str

str

In [24]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [27]:
a = 4.5
b = 2
# String formatting,to be visiyted later
print(f"a is {type(a)},b is {type(b)}")
a / b

a is <class 'float'>,b is <class 'int'>

2.25

In [29]:
a = 5
# 判断a是不是int类型
isinstance(a, int)

True

In [45]:
a = 5
isinstance(a, (int, float)) # True
b = 4.5
isinstance(b, (int,str))  # False

False

In [47]:
a = "foo"

In [48]:
getattr(a, "split")

In [52]:
def isiterable(obj):
    """
    Check if the object is iterable
    :param obj: object
    :return: bool
    """
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [57]:
isiterable("a string") # True
isiterable([1,2,3]) # True
isiterable(5) # False

False

In [59]:
5 - 7
12 + 21.5
5 <= 2

False

In [65]:
a = [1,2,3]
b = a
c = list(a)
a is b   # True
a is not c  # True

True

In [68]:
a == c # True

True

In [70]:
a = None
a is None  # True

True

In [71]:
a_list = ["foo",2,[4,5]]
a_list[2] = (3,4)
a_list  # ['foo', 2, (3, 4)]

['foo', 2, (3, 4)]

In [73]:
a_tuple = (3,5,(4,5))
a_tuple[1] = "four"  # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [74]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [76]:
fval = 7.243
fval2 = 6.78e-5
fval2

6.78e-05

In [77]:
3/2

1.5

In [78]:
3 // 2 # 整除

1

In [79]:
c = """
This is a longer string that
spans multiple lines
"""

In [80]:
c.count("\n") # 3

3

In [81]:
a = "this is a string"
a[10] = "f" # str是不可变的，TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [82]:
b = a.replace("string","longer string")
b  # 'this is a longer string'

'this is a longer string'

In [83]:
a # a还是没变 "this is a string"

'this is a string'

In [87]:
a = 5.6
s = str(a)
print(s)

5.6

In [89]:
s = "python"
list(s)
s[:3]  # 切片 'pyt'

'pyt'

In [91]:
s = "12\\34"
print(s)  # 12斜杠34 转义''

12\34

In [92]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [94]:
a =  "this is the first half"
b = "and this is the second half"
a + b

'this is the first halfand this is the second half'

In [95]:
template = "{0:2f} {1:s} are worth US${2:d}"

In [96]:
template.format(88.46,"Argentine Pesos",1)

'88.460000 Argentine Pesos are worth US$1'

In [97]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [99]:
f"{amount}{currency} is worth US${amount / rate:2f}" # '10Pesos is worth US$0.113045'

'10Pesos is worth US$0.113045'

In [100]:
val = "espanol"
val # espanol

'espanol'

In [103]:
val_utf8 = val.encode("utf-8")
val_utf8 # b'espanol'
type(val_utf8)

bytes

In [105]:
val_utf8.decode("utf-8")
val_utf8

b'espanol'

In [108]:
val.encode("latin1")
val.encode("utf-16") # b'\xff\xfee\x00s\x00p\x00a\x00n\x00o\x00l\x00'
val.encode("utf-16le") # b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

b'e\x00s\x00p\x00a\x00n\x00o\x00l\x00'

In [111]:
True and True
False or True

True

In [116]:
int(False) # 0
int(True)  # 1

1

In [119]:
a = True
b = False
not a
not b

True

In [124]:
s = "3.14159"
fval = float(s)
type(fval)   # float
int(fval)   # 3
bool(fval)  # True
bool(0)    # False

False

In [127]:
a = None
a is None
b = 5
b is not None

True

In [132]:
from datetime import datetime,date,time
dt = datetime(2011,10,29,20,30,21)
dt.day  # 29
dt.hour # 20

20

In [135]:
dt.date()   # datatime.date(2011,10,29)
dt.time()   # datetime.time(20,30,21)

datetime.time(20, 30, 21)

In [137]:
dt.strftime("%Y-%m-%d %H:%M")  # '2011-10-29 20:30'

'2011-10-29 20:30'

In [139]:
datetime.strptime("20091031","%Y%m%d")  # datetime.datetime(2009, 10, 31, 0, 0)

datetime.datetime(2009, 10, 31, 0, 0)

In [141]:
dt_hour = dt.replace(minute=0,second=0)
dt_hour  # datetime.datetime(2011, 10, 29, 20, 0)

datetime.datetime(2011, 10, 29, 20, 0)

In [143]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [149]:
dt2 = datetime(2011,11,15,22,30)
delta = dt2 - dt
delta    # datetime.timedelta(days=17, seconds=7179)
type(delta) # datetime.timedelta

datetime.timedelta

In [152]:
dt   # datetime.datetime(2011, 10, 29, 20, 30, 21)
dt + delta    # datetime.datetime(2011, 11, 15, 22, 30)

datetime.datetime(2011, 11, 15, 22, 30)

In [154]:
a = 5;b=7
c = 8;d = 4
if a < b or c>d:
    print("Made it")

Made it

In [156]:
4 > 3 > 2 > 1

True

In [158]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [160]:
range(10) # range(0, 10)
list(range(10))  # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
list(range(0,20,2)) # 三个参数分别表示，初值，终值，步长，区间左闭右开。[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [168]:
seq = [1,2,3,4]
for i in range(len(seq)):
    print(f"element{i}:{seq[i]}")
    
    
"""
output:
element0:1
element1:2
element2:3
element3:4
"""

element0:1
element1:2
element2:3
element3:4

'\noutput:\nelement0:1\nelement1:2\nelement2:3\nelement3:4\n'

In [170]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3  == 0 or i % 5 ==0:
        total += i
print(total) # 2333316668

2333316668